<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         cacheTokens="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         strict="true"
         verbose="true">
    <testsuites>
        <testsuite name="WikibaseDatabaseUnit">
            <directory>tests/unit</directory>
            <exclude>tests/unit/MediaWiki</exclude>
        </testsuite>
        <testsuite name="WikibaseDatabaseStandalone">
            <directory>tests/</directory>
            <exclude>tests/unit/MediaWiki</exclude>
            <exclude>tests/integration/MediaWiki</exclude>
        </testsuite>
        <testsuite name="WikibaseDatabaseMediaWiki">
            <directory>tests/unit/MediaWiki</directory>
            <directory>tests/integration/MediaWiki</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
